.*
!.gitignore
*.zip
*.[Bb][Aa][Kk]*
**/[Tt][Ee][Ss][Tt]*
**/Debug
**/Release
**/EXE
**/Win32*
**/[Bb][Ii][Nn]*
**/[Bb][Aa][Kk]*
*.[Tt][Pp][UuWw]
*.TDUMP
*.out
*.dpr
*.dof
*.cfg
*.dcu
*.dfm
*.bpg
*.gpi
*.lnk
*.res
*.ncb
*.opt
*.[Ee][Xx][Ee]
*.[Oo][Bb][Jj]
*.sbr
*.pch
*.bsc
*.pdb
*.idb
*.aps
*.?de
*.m?t
*.DSW
*.OBR
RC*
